body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #091f36;
  color: #F6F54D;
  font-size-adjust: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  margin-top: 7vh;
  list-style: none;
  text-align: center;
  font-weight: bold;
}
nav li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
nav a {
  padding: 1vw;
  text-decoration: none;
  color: #F6F54D;
  border: 2px solid #F55353;
  border-radius: 10px;
  transition: 0.3s;
}
nav a:hover {
  border-radius: 16px;
  border: 2px solid #F6F54D;
  animation: glow 1s ease-in-out infinite alternate;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.content {
  padding: 20px;
  -webkit-box-shadow: 0 5px 4px -6px #FEB139, 0 10px 4px -6px #F55353;
  -moz-box-shadow: 0 5px 4px -6px #FEB139, 0 10px 4px -6px #F55353;
  box-shadow: 0 5px 4px -6px #FEB139, 0 10px 4px -6px #F55353;
}
.content p {
  text-align: justify;
}

.shadow-color {
  color: #F6F54D;
  text-shadow: 0px 3px #FEB139, 0px 3px 10px #FEB139;
}

.shadow-double-color {
  color: #F6F54D;
  text-shadow: 0px 3px #FEB139, 0px 3px 10px #FEB139, 0px 6px #F55353, 0px 6px 10px #F55353;
}

.glow-effect {
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0px 3px #FEB139, 0px 3px 10px #FEB139, 0px 6px #F55353, 0px 6px 10px #F55353;
  }
  to {
    text-shadow: 0px 3px #FEB139, 0px 3px 0px #FEB139, 0px 6px #F55353, 0px 6px 0px #F55353;
  }
}

.glitch-effect-5 {
  animation: glitch 5s ease-in-out infinite alternate;
}
@keyframes glitch {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.6;
  }
  5% {
    opacity: 0.2;
  }
  8% {
    opacity: 1;
  }
  15% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

.glitch-effect-7 {
  animation: glitch 7s ease-in-out infinite alternate;
}
@keyframes glitch {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.6;
  }
  5% {
    opacity: 0.2;
  }
  8% {
    opacity: 1;
  }
  15% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
}

.gallery-container {
  width: 256px;
  height: 340px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
.gallery-container p {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-inner-container {
  width: 100%;
  height: 256px;
  margin: 0 auto;
  padding: 10px;
  border: 5px solid #F55353;
  border-radius: 20px;
  overflow: hidden;
}

.img-inner-container:hover {
  margin: 0;
  padding: 0px;
  transition: 0.2s;
}

.img-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 5px solid #F55353;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
}
.img-container img {
  position: absolute;
  top: 47%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 90%;
  border-radius: 20px;
}
.img-container img:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  border-radius: 20px;
  transition: 0.2s;
}

.img-container:hover {
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

footer {
  padding: 2px;
  color: #F6F54D;
  text-align: center;
  font-size: 0.5vw;
  border: 2px solid #F55353;
  border-radius: 10px;
}

a {
  color: #F6F54D;
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
